rootshell\.be
anonbelgium
brucon
-----BEGIN RSA PRIVATE KEY-----
-----BEGIN DSA PRIVATE KEY-----
-- phpMyAdmin SQL Dump
-- MySQL dump
-----BEGIN CERTIFICATE-----
belgium
#lulzsec
#antisec
#anonymous
INSERT INTO
CREATE TABLE
DROP TABLE
