rootshell\.be
anonbelgium
brucon
-----BEGIN RSA PRIVATE KEY-----
-----BEGIN DSA PRIVATE KEY-----
-- phpMyAdmin SQL Dump
-- MySQL dump
-----BEGIN CERTIFICATE-----
# Example of exclusion: search for "belgium" without "france" in the same pastie
belgium _EXCLUDE_ france
# Example fo inclusion: search for belgium" and "luxembourg" in the same pastie
belgium _INCLUDE_ luxembourg
lulzsec
antisec
anonymous
INSERT INTO
CREATE TABLE
DROP TABLE
